:root {
  --color-primary: #0ac18f;
}
html {
  overflow-y: scroll;
}
header {
  margin: 0px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#banner{
  background-color: #010623;
  color: white;
  text-align: center;
  padding: 7px 0;
}
.cashonize-logo {
  height: 85px;
}
.tabs a{
  padding: 1rem 1.8rem;
}
.icon{
  vertical-align: text-bottom;
}
.settingsIcon.dark{
  content:url("/images/cogGrey.svg");
}
.active .settingsIcon{
  content:url("/images/cogGreen.svg");
}
.settingsIcon{
  content:url("/images/settings.svg");
}
.plusIcon.dark{
  content:url("/images/plus-squareGrey.svg");
}
.importIcon.dark{
  content:url("/images/log-inGrey.svg");
}
.copyIcon{
  content:url("/images/copyGrey.svg");
}
.cogIcon{
  content:url("/images/cogGrey.svg");
}
.trashIcon.dark{
  content:url("/images/trashGrey.svg");
}
.trashIcon{
  content:url("/images/trash.svg");
}
#sendIcon.dark{
  content:url("/images/sendGrey.svg");
}
#infoIcon.dark{
  content:url("/images/infoGrey.svg");
}
#mintIcon.dark{
  content:url("/images/hammerGrey.svg");
}
#burnIcon.dark{
  content:url("/images/fireGrey.svg");
}
#authIcon.dark{
  content:url("/images/shieldGrey.svg");
}
#showIcon.dark{
  content:url("/images/chevron-square-downGrey.svg");
}
#showIcon.less{
  content:url("/images/chevron-square-up.svg");
}
#showIcon.less.dark{
  content:url("/images/chevron-square-upGrey.svg");
}
.unverifiedIcon{
  content:url("/images/exclamation-circle.svg");
}
.modalClass.dark{
  background-color: #1b1b1b !important;
}
body {
  margin: 0px;
  display: block;
  --grid-maxWidth: 75rem;
}
main{
  display: flex;
  justify-content: center;
  margin: 0 20px;
}
.view {
  width: 100%;
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
}
.tokenView {
  display: contents;
  min-height: 10px;
}
#derivationPath{
  box-sizing: content-box;
  display: inline-block;
  width:250px;
  padding: 0.4rem 1rem
}
.depositAddr,
.tokenID {
  overflow-wrap: anywhere;
  color: var(--color-grey);
}
#showsUsdBalance{
  font-size: 1.2em
}
.placeholderQr {
  margin: 5px auto 0 auto;
  display: block;
  margin-top: 5px;
  width: 240px;
}
#switchAddress {
  position: relative;
  top: -10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
#switchAddress.dark {
  top: 0px;
}
.copyIcon{
  margin-bottom: 1px;
}
#Placeholder {
  margin: 0;
  padding: 0
}
.addressInput {
  margin-right: 14px;
  width: 50%;
}
.inputGroup {
  margin: 0px 0 10px 0;
  display: flex;
}
.sendAmountGroup {
  display: flex;
  width: 50%;
}
.primaryButton {
  background-color: var(--color-primary); 
  color: white;
}
.primaryAccent {
  accent-color: var(--color-primary);
}
#verifiedOnly {
  width: -webkit-fill-available;
  text-align: right;
  padding-right: 20px;
  margin-bottom: -10px;
}
.verified {
  position: absolute;
  right: 20px;
}
.tokenInfo {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.tokenAmount {
  margin-left: 30px;
  max-width: 225px;
}
#bcmrUrlWebsite, #bcmrUrlGithub, #bcmrIpfs{
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}
.actionBar{
  margin-top: 15px;
  margin-bottom: 5px;
}
.tokenIcon {
  margin-right: 10px;
}
.tokenIcon canvas {
  display: block;
  border-radius: 50%;
}
.tokenBaseInfo {
  width: 100%; 
  display: flex;
  align-items: center
}
.tokenBaseInfo1{
  width: 370px;
  display: block;
}
.tokenButton {
  margin-left: 40px;
  cursor: pointer;
}
.showmobile {
  display: none;
}
#noTokensFound, #noVerifiedTokens, #loadingTokenData {
  text-align: center;
}
#selectUnit, #selectNetwork {
  box-sizing: content-box;
  width:80px;
  display: inline-block;
  padding: 0.4rem 1rem
}
#selectUri {
  box-sizing: content-box;
  width: 170px;
  display: inline-block;
  padding: 0.4rem 1rem
}
.hide {
  display: none;
}
.item {
  margin: 10px;
}
#githubLink {
    display: flex;
    justify-content: center;
    align-items: center;
}
.githublogo {
  width: 64px;
}
footer{
  padding-bottom: 20px;
}
@media only screen and (max-width: 850px) {
  .tokenBaseInfo {
    display: block;
  }
  .tokenBaseInfo1{
    width: 100%;
  }
  .tokenAmount {
    margin-left: 0px;
  }
  .tooltiptext{
    top: -30px;
    left: -115px;
  }
}
@media only screen and (max-width: 650px) {
  .inputGroup {
    display: block;
  }
  .addressInput {
    width: 100%;
    margin: 0px;
  }
  .sendAmountGroup {
    width: 100%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 570px) {
  main{
    margin: 0;
  }
  h1 {
    font-size: 1.7em;
  }
  .item {
    margin: 10px 0;
  }
  .tokenButton {
    margin-left: 20px;
  }
  .showmobile {
    display: inline-block;
  }
  .hidemobile {
    display: none;
  }
  .tabs a {
    padding: 1rem;
  }
}
body.dark {
  --bg-color: #000;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
  }
.input-icon {
  position: relative;
}
.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 55px;
  text-align: center;
  font-style: normal;
}
.input-icon-right > i {
  right: 0;
}

.input-icon-right > input {
  padding-left: 0;
  padding-right: 25px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#view0:after {
  content: "BCH";
}

#view1:after {
  content: "Tokens"
}

#view2:after {
  content: "Create"
}

#view4:after {
  content: "WC"
}

@media only screen and (min-width: 480px) {
  #view0:after {
    content: "BchWallet"
  }

  #view1:after {
    content: "MyTokens"
  }

  #view2:after {
    content: "CreateTokens"
  }

  #view4:after {
    content: "WalletConnect"
  }
}

 /* Style the Image Used to Trigger the Modal */
 .nftIcon {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  }

.nftIcon:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
