:root {
  --color-primary: #0ac18f;
}
html {
  overflow-y: scroll;
}
header {
  margin: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
  text-align: center;
}
body {
  margin: 0px;
  margin-top: 25px;
  display: block;
  --grid-maxWidth: 75rem;
}
main{
  display: flex;
  justify-content: center;
  margin: 0 20px;
}
.view {
  width: 100%;
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
}
.depositAddr,
.tokenID {
  overflow-wrap: anywhere;
  color: var(--color-grey);
}
.depositQr {
  margin: auto;
  display: block;
  width: 70%;
  max-width: 250px;
}
#Placeholder {
  margin: 0;
  padding: 0
}
#noTokensFound {
  text-align: center;
}
#githubLink {
    display: flex;
    justify-content: center;
    align-items: center;
}
.githublogo {
  width: 64px;
  position: relative;
  top: -5px;
  left: -5px;
}
